header {
	font-size: 100%;
}

h1 {
	font-family: Helvitica, Arial, sans-serif;
	font-size: 1.875em;
}

body {
	font-size: 100%;
}

.sidenav {
	font-family: Helvitica, Arial, sans-serif;
	font-size: 1.3em;
}

button {
	font-family: Helvitica, Arial, sans-serif;
	font-size: 100%;
}