header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	color: white;
	background-color: grey;
	text-align: center;
}

nav {
	justify-content: space-between;
	top: 94px;
	left: 0;
	height: 100%;
	width: 15%;
	position: fixed;
	padding: 0;
	overflow: hidden;
	background-color: grey;
}

nav img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

nav a {
	display: block;
	color: black;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	}

nav a.active{
	background-color: darkgreen;
	color: white;
}

nav a:hover:not(.active) {
	background-color: black;
	color: white;
}